table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
	text-transform: uppercase;
    font-size: 15px;
    color: #000;
    font-weight: 600;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

input {
	background-color: transparent;
    border: none;
    width: 98%;
    padding: 3px;
}

input:focus {
	outline: none;
	border: 1px solid #000;
}